.profile {
  justify-content: space-between;
  margin: 40px auto 50px;
  position: relative;
  align-items: center;
  display: flex;

}

@media all and (max-width: 767px) {
  .profile {
    width: calc(100% - 38px);
    min-width: 282px;
  }
}