.popup__container-close {
  background-image: url(../../../images/button/close-icon.png);
  width: 32px;
  height: 32px;
  background-size: contain;
  top: -40px;
  right: -40px;
  padding: 0;
  cursor: pointer;
  transition: opacity .4s ease-out;
  border: none;
  background-color: transparent;
  position: absolute;
}

@media all and (max-width: 768px) {
  .popup__container-close {
    width: 20px;
    top: -30px;
    height: 20px;
    right: 0;
  }
}

.ppopup__container-close:hover {
  opacity: 0.6;
}